[submodule "PulsarionMath"]
	path = PulsarionMath
	url = https://github.com/HW9636/PulsarionMath
[submodule "PulsarionCore/vendor/spdlog"]
	path = PulsarionCore/vendor/spdlog
	url = https://github.com/gabime/spdlog
