/cmake-build-debug/
/.idea/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Output targets
/PulsarionTests/PulsarionTests
/PulsarionTests/PulsarionTests.exe
/PulsarionExamples/PulsarionExamples

/bin/
/lib/

*.a
*.so
*.o
*.dylib
*.dll
*.exe
*.ilk
*.pdb
*.cmake
*.cache
